.projects {

	margin-bottom: 61px;

	&__grid {
		margin-top: 19px;
		overflow: hidden;
		max-height: 607px;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-auto-rows: 0px;
		gap: 14px 20px;
		justify-items: center;
	}


}