.projects {
		
	&__img {
		cursor: pointer;
		object-fit: contain;
		width: 100%;

		&--active {
			cursor: pointer;
			border: 5px solid #f06c64;
		}

	}
	&__elem {
		width: 100%;
		height: 100%;
	}

	&__grid {
		margin-top: 25px;
		overflow: hidden;
		max-height: 151vw;
		
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-auto-rows: 0px;
		gap: 8px 13px;
		justify-items: center;
		
		@media screen and (max-width: 23.4375em) {
			max-height: 148vw;
		}

		@media screen and (min-width: 27.18em) {
			max-height: 154vw;
		}

		@media screen and (min-width: 32.18em) {
			max-height: 156vw;
		}

		@media screen and (min-width: 37.35em) {
			max-height: 158vw;
		}

		@media screen and (min-width: 42.35em) {
			max-height: 160vw;
		}

		@media screen and (min-width: 48em) {
			margin-top: 28px;
			margin-bottom: 63px;
			max-height: 170vw;

			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(4, 1fr);
			
			gap: 14px 20px;
		}
		
		@media screen and (min-width: 63.75em) {
			margin-top: 19px;
			
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
		
	}
	

}