/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/Lato/Lato-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Lato/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.link {
  text-decoration: none;
}

.wrapper-inner {
  padding: 0 2.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 6px #323746 solid;
  background-color: #2d303a;
  font-weight: 700;
}

.logo__text {
  color: #ffffff;
  font-size: 1.5625rem;
  text-transform: uppercase;
  margin: 1em 0;
  letter-spacing: -0.4px;
  position: relative;
}
.logo__text::after {
  content: "*";
  position: absolute;
  color: #f06c64;
}

.nav-menu__list {
  display: flex;
}
.nav-menu__list > li + li {
  margin-left: 1.75em;
}
.nav-menu__list > li + li::after {
  content: ".";
  position: absolute;
  top: -0.4em;
  left: -1em;
  color: #494e62;
}
.nav-menu__item {
  position: relative;
}
.nav-menu__link {
  display: block;
  color: #ffffff;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.nav-menu__link--active {
  color: #f06c64;
}
.nav-menu__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.title {
  text-transform: capitalize;
  font-weight: 900;
  color: #666d89;
}
.title--size_big {
  font-size: 1.875rem;
}
.title--size_small {
  font-size: 1.125rem;
}

.subtitle {
  color: #767e9e;
}
.subtitle--size_big {
  font-size: 1.125rem;
  font-weight: 300;
}
.subtitle--size_small {
  font-size: 0.75rem;
  font-weight: 400;
}

.media:nth-child(odd) {
  clear: left;
}
.media__icon {
  padding: 0.875em;
  margin-right: 1.4285em;
  border: 2px solid #666d89;
  border-radius: 50%;
  float: left;
}
.media__title {
  margin-bottom: 0.833em;
}

.slider {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  padding: 54px 111px 83px 112px;
  display: flex;
  position: relative;
}
.slider__arrow {
  position: absolute;
  top: 47.5%;
  line-height: 0;
}
.slider__arrow:hover {
  cursor: pointer;
}
.slider__arrow > svg {
  opacity: 0.25;
}
.slider__arrow--left {
  left: 42px;
}
.slider__arrow--right {
  right: 40px;
  transform: rotate(180deg);
}

.telephone {
  line-height: 0;
}
.telephone__body {
  position: relative;
  box-shadow: 25px 25px 0px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.telephone__body--horizontal {
  margin-left: 219px;
  transform: rotate(90deg);
  box-shadow: 25px -25px 0px rgba(0, 0, 0, 0.2);
}
.telephone__screen {
  position: absolute;
  top: 65px;
  left: 14px;
  z-index: 10;
}
.telephone__screen--horizontal {
  transform: rotate(-90deg);
  top: 138px;
  left: -59px;
}
