.logo {

	order: 1;

	&.is-open {
		z-index: 30;
		margin-right: 30%;
	}

	@media screen and (min-width: 48em) {
		order: -1;
	}

	&__text {
		color: $color-header-text;
		text-transform: uppercase;
		font-size: 1.25rem;
		letter-spacing: -0.4px;
		
		position: relative;

		@media screen and (min-width: 48em) {
			font-size: 1.5625rem;
		}
		
		&::after {
			content: '*';
			position: absolute;
			color: #f06c64;
		}
	}
	
}