.slider {
	
	position: relative;
	overflow: hidden;
	
	&__body {
		display: flex;
	}
	
	&__slide {
		background-color: #f06c64;
		border-bottom: 6px solid #ea676b;
		
		flex: 0 0 100%;
		max-width: 100%;
		order: 0;
		
		display: flex;
		padding-left: 10%;
		padding-right: 10%;

		
		@media screen and (min-width: 48em) {
			padding-top: 41px;
			padding-bottom: 65px;
		}
		
		@media screen and (min-width: 63.75em) {
			padding-top: 54px;
			padding-bottom: 83px;
		}
		
		&--bg_primary {
			background-color: #648BF0;
			border-bottom: 6px solid rgb(68, 118, 247);
			
			background-image: url('./assets/images/slider/slider-bg.png');
			background-repeat: no-repeat;
			background-size: contain;
			
			justify-content: center;
		}
		
		&--current {
			order: -1;
			
			& .telephone {
				animation-name: slide-move-right;
				animation-duration: 2s;
			}
		}
		
	}

	@keyframes slide-move-right {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(0);
		}
	}

	&__arrow {
		position: absolute;
		top: 47.3%;
		line-height: 0;
		
		&:hover {
			cursor: pointer;
			opacity: .55;
		}

		&--left {
			left: 5px;
		}

		&--right {
			right: 5px;
			transform: rotate(180deg);
		}

		@media screen and (min-width: 48em) {
			&--left {
				left: 42px;
			}

			&--right {
				right: 40px;
			}
		}
	}
}