.slider {
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
	
	display: flex;
	justify-content: center;
	
	position: relative;

	padding: 0;

	&--bg_primary {
		background-color: #648BF0;
		border-bottom: 6px solid rgb(68, 118, 247);

		background-image: url('./assets/images/slider/slider-bg.png');
		background-repeat: no-repeat;
		background-size: contain;
	}

	&--bg_primary &__slide {
		justify-content: center;
		padding-left: 0;
		padding-right: 15px;
	}

	&__body {
		padding-top: 0px;
		padding-bottom: 0px;

		display: flex;
		max-width: 90%;
		overflow: hidden;

		@media screen and (min-width: 48em) {
			padding-top: 41px;
			padding-bottom: 65px;
		}
	
		@media screen and (min-width: 63.75em) {
			padding-top: 54px;
			padding-bottom: 83px;
		}
		transition: order 2s ease-out;
	}

	
	&__slide {
		flex-grow: 1 0;
		min-width: 100%;
		order: 0;
		
		display: flex;
		padding-left: 0px;

		
		@media screen and (min-width: 48em) {
			padding-left: 20px;
		}
		
		@media screen and (min-width: 63.75em) {
			padding-left: 50px;
		}
		
		&--current {
			order: -1;
			animation-name: slide-move;
			animation-duration: 1s;
		}
	}
	
	@keyframes slide-move {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(100%);
		}
	}

	&__arrow {
		position: absolute;
		top: 47.3%;
		line-height: 0;
		
		&:hover {
			cursor: pointer;
			opacity: .55;
		}

		&--left {
			left: 5px;
		}

		&--right {
			right: 5px;
			transform: rotate(180deg);
		}

		@media screen and (min-width: 48em) {
			&--left {
				left: 42px;
			}

			&--right {
				right: 40px;
			}
		}
	}
}