.header {
	
	display: flex;
	align-items: baseline;
	justify-content: center;

	@media screen and (min-width: 48em) {
		justify-content: space-between;
	}

	border-bottom: 6px #323746 solid;
	background-color: #2d303a;

	font-weight: 700;

}