.cards {
	display: grid;
	row-gap: 29px;
	
	@media screen and (min-width: 48em) {
		row-gap: 34px;
		column-gap: 15px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
	
	@media screen and (min-width: 63.75em) {
		column-gap: 20px;
	}
	
	&__item {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}
	
	&__title {
		margin-top: 13px;
		font-weight: 700;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		
		@media screen and (min-width: 48em) {
			margin-bottom: 0px;
			margin-top: 7px;
		}
	
		@media screen and (min-width: 63.75em) {
			margin-top: 12px;
			margin-bottom: 5px;
		}
	}
	
	&__subtitle {
		line-height: 21.56px;
		margin-bottom: 11px;

		@media screen and (min-width: 48em) {
			margin-bottom: 10px;
		}
	
		@media screen and (min-width: 63.75em) {
			margin-bottom: 24px;
		}
		
		&::first-line {
			letter-spacing: 0.1px;
		}
	}

	&__img {

		object-fit: contain;
		max-width: 100%;
		flex-basis: 50%;

	}


}