.telephone {

	line-height: 0;
	// transform: scale(.5, .5);

	@media screen and (min-width: 48em) {
		// transform: scale(.8, .8);
	}
	
	@media screen and (min-width: 63.75em) {
		// transform: scale(1, 1);
	}

	&__button {
		position: absolute;
		border: 0;
		margin: 0;
		padding: 0;
		bottom: 60px;
		left: 85px;

		&::after {
			content: '';
			display: block;
			background-color: transparent;
			cursor: pointer;
			width: 45px;
			height: 45px;
			border-radius: 50%;

			position: absolute;
			top: 10px;
			left: 0px;
		}
	}
	
	&__body {
		position: relative;
		box-shadow: 25px 25px 0px rgba(0, 0, 0, .15);
		border-radius: 25px;

		&--horizontal {
			
			transform: rotate(90deg);
			box-shadow: 25px -25px 0px rgba(0, 0, 0, .15);
			@media screen and (min-width: 48em) {
				margin-left: 130px;
			}
			
			@media screen and (min-width: 63.75em) {
				margin-left: 219px;
			}
		}

	}

	&__screen {
		position: absolute;
		top: 65px;
		left: 14px;
		z-index: 10;

		&--horizontal {
			transform: rotate(-90deg);
			top: 138px;
			left: -59px;
		}

		&--hidden {
			display: none;
		}
	}

}